# Prepping data to load on to database

In [42]:
import pandas as pd

In [49]:
file_path1 = '../data_transformed/stock.csv'
stock = pd.read_csv(file_path1, index_col=0)
stock.sort_values
stock

,year,open,high,low,close,adj_close,volume
0,1970,83.152047,84.011457,82.292126,83.154134,83.154134,1.160130e+07
1,1971,98.306877,99.071897,97.565138,98.315020,98.315020,1.539423e+07
2,1972,109.071036,109.952789,108.279960,109.134821,109.134821,1.648355e+07
3,1973,107.514167,108.554087,106.354048,107.438413,107.438413,1.610230e+07
4,1974,82.886324,83.879367,81.795534,82.780909,82.780909,1.390356e+07
5,1975,86.097312,87.095968,85.252965,86.181225,86.181225,1.856613e+07
6,1976,101.964466,102.818063,101.190316,102.035296,102.035296,2.118225e+07
7,1977,98.230079,98.858254,97.517262,98.181865,98.181865,2.094325e+07
8,1978,96.113770,96.890635,95.344524,96.113968,96.113968,2.857175e+07
9,1979,102.945731,103.759051,102.163359,102.999051,102.999051,3.226427e+07
10,1980,118.599605,119.986799,117.372292,118.710118,118.710118,4.486415e+07
11,1981,128.074466,129.364664,126.764703,128.037905,128.037905,4.685708e+07
12,1982,119.638142,120.659960,118.743439,119.705732,119.705732,6.504498e+07
13,1983,160.371541,161.196759,159.596483,160.473122,160.473122,8.530960e+07
14,1984,160.464506,161.258142,159.662688,160.463557,160.463557,9.122383e+07
15,1985,186.645873,187.473770,185.999880,186.828174,186.828174,1.091669e+08
16,1986,236.240790,237.531778,234.885257,236.390474,236.390474,1.410257e+08
17,1987,286.982134,289.343201,284.427668,286.998024,286.998024,1.889267e+08
18,1988,265.769486,267.339960,264.112806,265.880158,265.880158,1.614546e+08
19,1989,322.754603,324.346587,321.255317,323.051429,323.051429,1.654587e+08
20,1990,334.730475,336.643675,332.292609,334.632056,334.632056,1.568487e+08
21,1991,375.836640,378.023874,373.890987,376.186324,376.186324,1.792042e+08
22,1992,415.673976,417.261850,413.850708,415.747008,415.747008,2.020260e+08
23,1993,451.490038,453.039170,449.849763,451.614821,451.614821,2.647122e+08
24,1994,460.450913,462.168492,458.399285,460.416508,460.416508,2.914617e+08
25,1995,541.096429,543.156746,539.256786,541.719087,541.719087,3.462038e+08
26,1996,670.003032,673.333308,666.570828,670.494843,670.494843,4.114201e+08
27,1997,872.520001,878.982017,866.518222,873.427788,873.427788,5.256481e+08
28,1998,1084.477181,1092.915000,1075.970200,1085.503253,1085.503253,6.722617e+08
29,1999,1326.377027,1336.491314,1316.141466,1327.329567,1327.329567,8.083420e+08
30,2000,1427.821149,1440.279128,1414.175124,1427.221069,1427.221069,1.034489e+09
31,2001,1194.883793,1204.043994,1183.334397,1194.178994,1194.178994,1.232068e+09
32,2002,994.951590,1003.863256,983.893415,993.934804,993.934804,1.429026e+09
33,2003,964.306945,971.268809,957.995634,965.227540,965.227540,1.384451e+09
34,2004,1130.255516,1135.777662,1125.041824,1130.649445,1130.649445,1.423204e+09
35,2005,1207.087063,1212.572896,1202.005837,1207.229443,1207.229443,1.919904e+09
36,2006,1309.762590,1315.611637,1304.494979,1310.461236,1310.461236,2.394513e+09
37,2007,1476.958364,1485.241034,1467.946455,1477.184342,1477.184342,3.227438e+09
38,2008,1222.026956,1235.699725,1204.980832,1220.042056,1220.042056,5.033223e+09
39,2009,947.022063,956.346349,938.286864,948.046388,948.046388,5.573208e+09
40,2010,1139.369761,1146.573372,1131.280990,1139.965512,1139.965512,4.569371e+09
41,2011,1267.618211,1277.223450,1257.176747,1267.638809,1267.638809,4.109056e+09
42,2012,1378.680638,1385.845401,1371.269002,1379.354160,1379.354160,3.631677e+09
43,2013,1642.298649,1649.615712,1635.740156,1643.798968,1643.798968,3.358967e+09
44,2014,1930.754485,1938.835599,1922.292981,1931.376110,1931.376110,3.354783e+09
45,2015,2061.268016,2071.862899,2049.336906,2061.067741,2061.067741,3.655629e+09
46,2016,2094.091550,2103.306866,2083.753058,2094.651264,2094.651264,3.905232e+09
47,2017,2448.275888,2454.344818,2441.850751,2449.076379,2449.076379,3.412303e+09
48,2018,2747.910717,2762.645180,2730.284103,2746.214183,2746.214183,3.612422e+09

In [44]:
file_path2 = '../data_transformed/weather_damage.csv'
weather_damage = pd.read_csv(file_path2, index_col=0)
weather_damage.head()

,year,disaster,death_toll,damage_cost,main_article,location,notes
0,1862,Flood,Not Available,0,Great Flood of 1862,"California, Oregon, Utah, and the territories ...",An atmospheric river led to 43 days of rain st...
1,1871,Wildfire,"1,500–2,500",0,Peshtigo fire,Wisconsin,Deadliest firestorm in United States history
2,1888,Blizzard,400,0,Great Blizzard of 1888,Northeast,Fatalities estimated
3,1888,Cold wave,Unknown,0,1888 Northwest Cold Wave,Northwest,Not Available
4,1889,Flood,2209,$17 Million ($425 Million in 2012 dollars),Johnstown Flood,"Johnstown, Pennsylvania",A dam failure caused 20 million tons of water ...

#### Filter years 1970 or greater

In [50]:
weather_damage = weather_damage[weather_damage['year'] >= 1970].reset_index()
weather_damage = weather_damage.drop(columns=['index'])
weather_damage

,year,disaster,death_toll,damage_cost,main_article,location,notes
0,1970,Tornado,26,"$1,411,900,000(2008)",Lubbock Tornado,"Lubbock, Texas",F5 tornado killed 26 and wounded approximately...
1,1971,Earthquake,65,"$500,000,000",Sylmar earthquake,Greater Los Angeles area,Not Available
2,1972,Flood,238,"$160,000,000(1972)$664,000,000(2002)",1972 Rapid City Flood,"Rapid City, South Dakota",Average rainfall over area of 60 mi² measured ...
3,1974,Tornado,315,0,1974 Super Outbreak,"Ontario, Illinois, Indiana, Michigan, Ohio, Ke...",148 tornadoes
4,1976,Flood,145,0,Big Thompson Canyon Flood of 1976,Colorado,Not Available
...,...,...,...,...,...,...,...
57,2016,Wildfire,14,"$990,000,000",2016 Great Smoky Mountains wildfires,Tennessee,"Destroyed nearly 2,000 structures; burned near..."
58,2017,Hurricane,107,"$125,000,000,000",Hurricane Harvey,"Texas, Louisiana, Alabama",Hurricane Harvey began as a tropical storm in ...
59,2017,Hurricane,134,"$64,760,000,000",Hurricane Irma,"Florida, South Carolina, Georgia, Puerto Rico",Hurricane Irma ravaged the northern Leeward Is...
60,2017,Hurricane,5740,"$91,610,000,000",Hurricane Maria,Florida and Puerto Rico,After strengthening at a near record pace and ...
61,2018,Wildfire,88,"$16,500,000,000",Camp Fire,California,"The Camp Fire ravaged North California, destro..."